{% extends "base.html" %}
{% block content %}

<div class="container-narrow">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/register">注册</a></li>
        <li><a href="/login">登陆</a></li>
    </ul>
    <h3 class="text-muted">RealU</h3>
    <hr>
    <div class="jumbotron">
        <h1>RealU</h1>
        <br>
        <p class="lead">创立，加入属于你的团队，总有一个适合你的创业团队</p>
        <br>
        <a class="btn btn-large btn-success" href="/register">加入我们</a>
    </div>

    <div class="footer">
        <p>&copy; Company RealU</p>
    </div>
</div>

{% endblock %}