body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 85%;
}

.container-narrow > hr {
    margin: 40px 0 0 0;
}

.main_skill > hr{
    height:1px;
    border-top:1px solid #000
    margin: 1px 0 0 0;
}

.jumbotron {
    margin: 1px 0;
    text-align: center;
    background-color:white;
}

.jumbotron h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
}

.intro{
    font-size:17px;
}
.skills{
    font-size:17px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica,'Arvo', Georgia, Times, serif;
}

p, div {
    font-family: Helvetica, Arial, sans-serif;
}

.info{
    margin-top:1cm;
}

.color_red{
    color:#a12;
}

.color_green{
    color:#2a2;
}
